.form-style{
    
    background-color:rgb(46, 133, 226) ;
}
.texts{
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
}

.div{
    background-color: cadetblue;
}
*{
    margin-right: 50px;
    margin-left: 70px;
    margin-top: 25px;
    padding: 0;
    box-sizing: border-box;

  }